* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background-color: #11011E;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-image: url(../img/background.webp);
    background-size: 100%;
}

a {
    text-decoration: none;
    color: #0FAE96;
}

.is-text-center {
   text-align: center;
}

.wrapper {
    width: 1256px;
    margin: 0 auto;
}

ul, li {
    list-style-type: none;
}

.header {
    width: 100%;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header__nav-item {
    padding-left: 40px;
}

.header__nav-item > a {
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF
}

.nav__item:first-child {
    padding-left: 0;
}

.header__language {
    position: relative;
    display: flex;
    margin-right: 20px;
    font-weight: 400;
}

.language__icon {
    margin-right: 10px;
}

.language__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: #FFFFFF;
}

.language__button {
    border: none;
    cursor: pointer;
}

.language__menu {
    display: none;
    position: absolute;
    top: 150%;
    left: 30px;
}

.header__language:hover .language__menu {
    display: block;
}

.header__language a {
    display: block;
    color: #FFFFFF;
}

.header__language:hover .language__button img {
    transform: rotate(180deg);
}


.login__button {
    width: 105px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #0FAE96;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.banner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding-top: 100px;
}

.banner__inner {
    margin: 0 auto;
}

.inner__text {
    font-size: 36px;
    font-weight: 700;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
}

.info > p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #B6B6B6;
    line-height: 160%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.button__start {
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #0FAE96;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.trend__text {
    padding-top: 135px;
    font-weight: 600;
}

.currency-card {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}


.currencies {
    width: 300px;
    height: 190px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 13px;
    background-color: rgba(225, 225, 225, 0.1);
}

.val__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 20px;
}

.val__text.is-usdt {
    margin: 0 15px;
}

.currencies__name {
    background-color: #B6B6B6;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    border-radius: 3px;
    padding: 4px 6px;
}

.val__vector {
    padding-left: 40px;
}

.currencies__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    align-items: center;
    padding-top: 20px;
}

.currencies__price {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.currencies__graph {
    grid-row: span 2;
}

.currencies__procent {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 200px;
}

.services__title {
    font-size: 36px;
    font-weight: 700;
}

.description {
    margin: 0 auto;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #B6B6B6;
}

.services__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
}

.services__card {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 300px;
    height: 350px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 13px;
    background-color: rgba(225, 225, 225, 0.1);
    padding: 30px;
}

.services__card>a {
    padding-top: 40px;
}

.services__text {
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 15px;
}

.description.is-small {
    font-size: 16px;
}

.offer {
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
}

.offer__inner {
    display: flex;
    flex-direction: column;
}

.offer__title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
}

.offer__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer__button {
    width: 205px;
    height: 55px;
    border: none;
    border-radius: 7px;
    background-color: #0FAE96;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}

caption {
    text-align: left;
    padding-top: 170px;
}

.caption__menu {
    padding-top: 20px;
    padding-bottom: 30px;
}

.caption__item {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #B6B6B6;
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    padding: 10px 12px;
    cursor: pointer;
}

.caption__item:nth-child(n+2) {
    margin-left: 10px;
}

.caption__input {
    color: #B6B6B6;
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    background-image: url("../img/placeholder-vct.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 280px;
    height: 40px;
    padding: 10px 0 10px 45px;
    margin-left: 240px;
}

.caption__input:focus {
    content-visibility: none;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    padding: 20px;
}


.start__banner {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.start_inner {
    width: 375px;
}

.start__title {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
}

.start__button {
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #0FAE96;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 40px;
}

.start__info {
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
}

.start__item {
    display: flex;
    width: 535px;
    height: 130px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 13px;
    background-color: rgba(225, 225, 225, 0.1);
    padding-top: 20px;
    padding-left: 20px;
}

.account__item {
    padding-top: 10px;
    padding-left: 20px;
}

.account__title {
    font-size: 20px;
    font-weight: 600;
}

.account__item>p {
    padding-top: 10px;
}

.news__banner {
    padding-top: 200px;
}

.news__title {
    text-align: center;
}

.news__card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 60px;
    grid-row-gap: 45px;
    grid-column-gap: 25px;
    margin-bottom: 60px;
}

.news__preview {
    width: 620px;
    height: 390px;
    grid-column: span 2;
    background-image: url(../img/news-ban.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.preview_title {
    font-size: 36px;
    padding-top: 220px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.crypto__reference {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #B6B6B6;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 4px 8px;
}

.crypto__reference.is-large {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #B6B6B6;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.07);
    margin-left: 30px;
    padding: 4px 8px;
}

.news__item {
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 13px;
    background-color: rgba(225, 225, 225, 0.1);
}

.news__info {
    margin: 20px;
}

.news__text {
    font-size: 16px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}

.news__description {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #B6B6B6;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 225px;
}

.footer__info {
    padding-top: 60px;
    margin-bottom: 65px;
}

.footer__sociales {
    padding-top: 65px;
    padding-bottom: 30px;
}

.footer__sociales>a:nth-child(n+2) {
   padding-left: 15px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    grid-gap: 140px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__item>p {
    margin: 0;
}