* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    background-color: #11011E;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF
}

.wrapper {
    width: 1256px;
    margin: 0 auto;
}

ul, li {
    list-style-type: none;
}

.header {
    width: 100%;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.header__logo {
    /*padding-left: 92px;*/
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header__nav-item {
    padding-left: 40px;
}

.header__nav-item > a {
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF
}

.nav__item:first-child {
    padding-left: 0;
}

.header__language {
    position: relative;
    display: flex;
    margin-right: 20px;
    font-weight: 400;
}

.language__icon {
    margin-right: 10px;
}

.language__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: #FFFFFF;
}

.language__button {
    border: none;
    cursor: pointer;
}

.language__menu {
    display: none;
    position: absolute;
    top: 150%;
    left: 30px;
}

.header__language:hover .language__menu {
    display: block;
}

.header__language a {
    display: block;
    color: #FFFFFF;
}

.header__language:hover .language__button img {
    transform: rotate(180deg);
}


.login__button {
    width: 105px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #0FAE96;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.banner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding-top: 100px;
}

.banner__inner {
    margin: 0 auto;
}

.inner__text {
    font-size: 36px;
    font-weight: 700;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}

.info > p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #B6B6B6;
    line-height: 160%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.button__start {
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #0FAE96;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}

.trend__text {
    padding-top: 135px;
    font-weight: 600;
}

.currency-card {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}


.currencies {
    width: 300px;
    height: 190px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 13px;
    background-color: #1D1429;
}

.val__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 20px;
}

/*.val__icon {*/
/*    background-color: #B6B6B6;*/
/*    padding: 4px 6px;*/
/*    border-radius: 3px;*/
/*}*/
.val__text-ustd {
    margin: 0 15px;
}

.btc__text {
    background-color: #B6B6B6;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weigth: 600;
    border-radius: 3px;
    padding: 4px 6px;
}

.eth__text {
    background-color: #B6B6B6;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weigth: 600;
    border-radius: 3px;
    padding: 4px 6px;
}

    .bnb__text {
    background-color: #B6B6B6;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weigth: 600;
    border-radius: 3px;
    padding: 4px 6px;
}

.ustd__text {
    background-color: #B6B6B6;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weigth: 600;
    border-radius: 3px;
    padding: 4px 6px;
}


.val__vector {
    padding-left: 40px;
}


.currencies__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    align-items: center;
    padding-top: 20px;
}

.currencies__price {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.currencies__graph {
    grid-row: span 2;
}

.currencies__procent {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
}